@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "../components/navbar.css";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Montserrat', sans-serif;
}

body .pure-g:nth-child(1), .pure-g:nth-child(2) {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

body .pure-g:nth-child(2) {
    margin-top: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.items {
    margin-top: 1em;
    align-items: center;
    margin-left: 0.25em;
}

.items img {
    width: 2.5em;
}

#billing {
    margin-top: -0.5em;
    margin-left: 0.5em;
}

form input:nth-child(2) {
    margin-left: 4.5em;
    font-size: 1.5em;
}