html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #D9D9D9;
}

#loginbox {
    text-align: center;
}

fieldset input {
    margin: 0;
    margin-left: auto; !important
    margin-right: auto; !important
}