img {
    width: 2em;
    max-height: 5em;
    margin-left: 1em;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  height: 4em;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}
.navbar .container {
  display: flex;
}
.navbar-item {
  display: flex;
  align-items: center;
  width: 6em;
}

.navbar a:hover {
    background-color: #D9D9D9;
}